<%= javascript_pack_tag 'illustoryEtoJ', 'data-turbolinks-track': 'reload' %>
<%= include_gon %>
<%= provide(:title, 'イラストーリー')%>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SCT4G2G6T4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SCT4G2G6T4');
</script>


  <div class="illustorySrc">
      <div id="loader" class="loadScreen">読み込み中</div>
      <div id="hamburgerIllust" class="hamburgerIllust">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div id="grayOutIllust" class="transparent"></div>
      <div id="nav__centerIllust" class="nav__centerIllust">
          <%= link_to "HOME", eigomonsters_path, method: :get, class: :nav__btnIllust %>
          <%= link_to "イラスト×ストーリー", illustory_path, method: :get, class: :nav__btnIllust %>
          <%= link_to "タイピングゲーム", typingplay_index_eigomonsters_path, method: :get, class: :nav__btnIllust %>
          <%= link_to "英単語リスト", eng_wordlist_index_eigomonsters_path, method: :get, class: :nav__btnIllust %>
          <%= link_to "お問い合わせ", contacts_path, method: :get, class: :nav__btnIllust %>
          <%= link_to "Twitter", 'https://twitter.com/eigomonsters',target: :blank, rel: :noopener, rel: :noreferrer, class: :nav__btnForTwitterIllust %>
          <%= link_to 'https://twitter.com/eigomonsters',target: :blank, rel: :noopener, rel: :noreferrer do %><%= image_tag 'twitterImage.png', class: :snsIconTwitterIllust%> <% end %>
      </div>
      <div id="ondoku3CreditInIllustory" class="ondoku3CreditInIllustory">発音：<a href= 'https://ondoku3.com/' target="_blank" rel="noopener noreferrer" class="ondoku3CreditLinkInIllustory">音読さん</a></div>
      <img id="pronounceImg" src="../../assets/illusts/pronounceOff.png" class="pronounceOff">
      <div id="allQuestionsListEntireScrIllust" class="transparent">
        <div class="allQuestionsListTableSrcIllust">
          <table class="allQuestionsListTableIllust">
            <thead>
              <tr>
                <th>出題<br>No.</th>
                <th><%= link_to "英単語", eng_wordlist_index_eigomonsters_path, method: :get,class: :engListLink %><br><%= link_to "リストNo.", eng_wordlist_index_eigomonsters_path, method: :get,class: :engListLink %></th>
                <th>発音</th>
                <th>英単語</th>
                <th>日本語訳</th>
                <th>正解/<br>不正解</th>
              </tr>
            </thead>
            <tbody id="allQuestionsListIllust"></tbody>
          </table>
        </div>
        <%# 閉じるボタンの設定 %>
        <div id="closeAllQuestionsList">
          <div class="closeAllQuestionsListWords">閉じる</div>
        </div>
      </div>
      <div id="startBtnIllustory"></div>
      <%# <%= form_with(model: :illustory, url: illustory_path, local: true, scope: :post) do %>
      <%#     <input type="submit" formaction="sec1JaptoEng" value="英⇨日" id="modeChangeBtnIllustory">
      <% end %>
      <div id="reviewBtnIllustory" class="transparent"></div>
      <div id="afterBtnIllustory" class="transparent">
        <div id="backBtnIllustory"></div>
        <div id="againBtnIllustory"></div>
        <div id="nextBtnIllustory"></div>
      </div>
      <div id="storyAbove">
        <div id="storyAboveText1"></div>
        <div id="storyAboveText2"></div>
        <div id="storyAboveText3"></div>
      </div>
      <div id="storyScr">
        <div id="storyEntire">
          <div id="storyJapText"></div>
          <div id="storyEngText"></div>
          <div id="storyJapTextSecond"></div>
          <div id="storyEngTextSecond"></div>
          <div id="storyJapTextThird"></div>
          <div id="storyEngTextThird"></div>
        </div>
      </div>
      <img id="circleImg" src="../../assets/illusts/correctGreen.png" class="transparent">
      <img id="crossImg" src="../../assets/illusts/incorrectBlue.png" class="transparent">
      <div id="questionWord"></div>
      </div>
      <div id="optionAnswer">
        <div id="optionAnswer1"></div>
        <div id="optionAnswer2"></div>
        <div id="optionAnswer3"></div>
        <div id="optionAnswer4"></div>
      </div>
      <div class="illustorySeason">
          <img src="../../assets/illusts/back.png" alt="back" id="illustBackBtn" class="illustBackBtn">
          <img src="../../assets/illusts/next.png" alt="next" id="illustNextBtn" class="illustNextBtn">
          <img src="../../assets/illusts/upArrow.png" alt="upArrow" id="upArrowBtn" class="upArrowBtn">
          <img id="picFullScreen" src="../../assets/illusts/illust1.png" class="fullScreen1">
      </div>
      <div id="illustorySection" class="illustorySection">
          <img src="../../assets/illusts/illust1.png" alt="" id="illustImage1" class="illustImageSelected">
          <img src="../../assets/illusts/illust2.png" alt="" id="illustImage2" class="illustImage">
          <img src="../../assets/illusts/illust3.png" alt="" id="illustImage3" class="illustImage">
          <img src="../../assets/illusts/illust4.png" alt="" id="illustImage4" class="illustImage">
          <img src="../../assets/illusts/illust5.png" alt="" id="illustImage5" class="illustImage">
          <%# <img src="../../assets/illusts/illust6.png" alt="" id="illustImage6" class="illustImage">
          <img src="../../assets/illusts/illust7.png" alt="" id="illustImage7" class="illustImage">
          <img src="../../assets/illusts/illust8.png" alt="" id="illustImage8" class="illustImage">
          <img src="../../assets/illusts/illust9.png" alt="" id="illustImage9" class="illustImage">
          <img src="../../assets/illusts/illust10.png" alt="" id="illustImage10" class="illustImage">
          <img src="../../assets/illusts/illust11.png" alt="" id="illustImage11" class="illustImage">
          <img src="../../assets/illusts/illust12.png" alt="" id="illustImage12" class="illustImage">
          <img src="../../assets/illusts/illust13.png" alt="" id="illustImage13" class="illustImage">
          <img src="../../assets/illusts/illust14.png" alt="" id="illustImage14" class="illustImage">
          <img src="../../assets/illusts/illust15.png" alt="" id="illustImage15" class="illustImage">
          <img src="../../assets/illusts/illust16.png" alt="" id="illustImage16" class="illustImage">
          <img src="../../assets/illusts/illust17.png" alt="" id="illustImage17" class="illustImage">
          <img src="../../assets/illusts/illust18.png" alt="" id="illustImage18" class="illustImage">
          <img src="../../assets/illusts/illust19.png" alt="" id="illustImage19" class="illustImage">
          <img src="../../assets/illusts/illust20.png" alt="" id="illustImage20" class="illustImage">
          <img src="../../assets/illusts/illust21.png" alt="" id="illustImage21" class="illustImage">
          <img src="../../assets/illusts/illust22.png" alt="" id="illustImage22" class="illustImage">
          <img src="../../assets/illusts/illust23.png" alt="" id="illustImage23" class="illustImage">
          <img src="../../assets/illusts/illust24.png" alt="" id="illustImage24" class="illustImage">
          <img src="../../assets/illusts/illust25.png" alt="" id="illustImage25" class="illustImage"> %>
      </div>	
  </div>