<%= provide(:title, 'ポケポケデッキレシピ作成')%>
<meta name="description" content="ポケポケのオンライン大会いたち杯で使用するデッキコードを作成できます">
<%# <%= javascript_pack_tag 'indexTypingMovie', 'data-turbolinks-track': 'reload' %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SCT4G2G6T4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  // // Rubyから渡されたclicked_imagesをJavaScript変数に代入
  // const clickedDeckImages = <%= j @clicked_images_json %>;

  // // デバッグ用にconsole.logを使用
  // console.log(clickedDeckImages);

  // // 必要なJavaScript関数を呼び出す
  // updateSearchedDeckImageDisplay(clickedDeckImages);
  gtag('config', 'G-SCT4G2G6T4');
</script>



<div class="topPage">
  <div class="formAndDeckAndImageListTitle">
    <div class="formAndImageListInDeck">
      <%= render 'search_form' %>
      <div class="imageListInDeck">
        <div class="adaptedDeckListTitle">
          <div class="toggleDeckBtn" disabled><img src="../../assets/triangle.png" alt="Toggle" class="triangleDeckIcon"><span class="deckTitleText">デッキ<span class="deckNumInTitle"><span class="deckNumTextInTitle">0</span>/20</span></span></div>
            <div class="searchDeckContainer">
            <%= form_with(url: searchdeck_eigomonsters_path, local: true, method: :get, class: "searchDeckForm", data: { remote: true }) do |form| %>
              <%= form.text_field :keyword, placeholder: "デッキコード検索", value: @deckKeyword, class: "searchDeckInput" %>
              <button type="button" class="deckSearchBtn">検索</button>
            <% end %>
          </div>
        </div>
        <div class="deckInfoBox">
          <div class="eachImageInDeckBox">
            <div class="eachImageInDeck"></div>
          </div>
          <div class="deckNumAndRegisterBtn">
            <p class="deckNumTextBox"><span class="deckNumText">0</span>/20</p>
            <button class="registerBtn">デッキコード作成</button>
            <button class="resetBtn">リセット</button>
          </div>
        </div>
      </div>
    </div>
    <div class="errorMessages">
      <p class="totalDeckNumError">デッキ枚数を20枚ちょうどにしてください。</p>
      <p class="noTanePokemonError">たねポケモンを1枚以上入れてください。</p>
      <p class="sameCardNumError">同じ名前のカードは2枚までにしてください。</p>
      <p class="notFoundDeckError">デッキが見つかりませんでした。</p>
    </div>
    <div class="cardImageListTitle">
    <p>カード一覧</p>
    </div>
  </div>
  <div id="search-results">
    <%= render partial: 'searched_card_list', locals: { searchedCardList: @searchedCardList } %>
  </div>
  <div class="modal" id="popupModal">
    <div class="modal-content">
      <button class="close-btn" id="closeModal">
        <img src="../../assets/closeBtn.png" alt="閉じる" />
      </button>
      <h3>以下の内容でデッキコードを作成しますか。</h3>
        <div class="eachImageInDeckBoxPopup">
          <div class="eachImageInDeckPopup"></div>
        </div>
        <button class="createDeckCodeBtn">デッキコード作成</button>
        <p class="createdDeckCodeTextTitle">作成したデッキコード(有効期間1ヶ月)</p>
        <p class="createdDeckCode"></p>
        <button class="copyDeckCodeBtn">コピー</button>
        <p class="copySuccessMessage">デッキコードがコピーされました！<br>トナメルに貼り付けしエントリーしてください。</p> 
    </div>
  </div>
</div>