
<div class="contactFormScr">
<div class="formTop">
  <h1 class="formPageTitle">お問い合わせフォーム</h1>
  <p>お問い合わせは以下のフォームよりお願いいたします。</p>
</div>
<%= form_for(@contact, url: confirm_path) do |f| %>
  <div class="form-group">
    <%= f.label :name, 'お名前*', class: 'formLabel' %>
    <%= f.text_field :name, autofocus: true, class: 'formName' %>
    <% if @contact.errors.include?(:name) %>
      <p class="formError"><%= @contact.errors.full_messages_for(:name).first %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :email, 'メールアドレス*', class: 'formLabel' %>
    <%= f.text_field :email, class: 'formEmail' %>
    <% if @contact.errors.include?(:email) %>
      <p class="formError"><%= @contact.errors.full_messages_for(:email).first %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :subject, '件名*', class: 'formLabel' %>
    <%= f.text_field :subject, class: 'formSubject' %>
    <% if @contact.errors.include?(:subject) %>
      <p class="formError"><%= @contact.errors.full_messages_for(:subject).first %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :message, 'お問い合わせ内容*', class: 'formLabel' %>
    <%= f.text_area :message, class: 'formMessage'%>
    <% if @contact.errors.include?(:message) %>
      <p class="formError"><%= @contact.errors.full_messages_for(:message).first %>
    <% end %>
  </div>

  <div>
    <%= f.submit '入力内容確認', class: 'formToConfirm' %>
  </div>
<% end %>
</div>