<!DOCTYPE html>
<html>
  <head prefix=”og:http://ogp.me/ns#”>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- jQuery を最初に読み込み -->
    <%= javascript_include_tag 'jquery', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4248933013802964"
     crossorigin="anonymous"></script>
    <meta property="og:url" content="https://eigomonsters.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="いたち杯デッキコード作成サイト" />
    <meta property="og:description" content="ポケポケデッキコード作成サイト" />
    <meta property="og:site_name" content="ポケポケデッキコード作成サイト" />
    <%# <meta property="og:image" content="https://eigomonsters.com/assets/illustoryScreenShot.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@EigoMonsters" /> %>
    <meta name="google-site-verification" content="eHoOvBezu_Xsmcu5OphzTHkT1QrXbekgZ9PN4nYJkXg" />
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav_center">
            <div class="topPageTitle">
              <p class="webTitle">いたち杯 ポケポケデッキコード作成</p>
              <% unless controller_name == "eigomonsters" && action_name == "policy" %>
                <button class="noteLinkButton" onclick="window.open('https://note.com/itachihai/', '_blank')">
                  大会考察記事 ＞
                </button>
              <% end %>
            </div>
            <div id="hamburger" class="hamburger">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div id="grayOut" class="transparent"></div>
          </div>
          <div id="nav__center" class="nav__center">
              
          </div>
        </div>
      </div>
    </header>
      <%= yield %>
    <footer class="footer">
        <%= link_to "ご利用規約・プライバシーポリシー", policy_eigomonsters_path, method: :get, class: :policy %>
        <p class="copyright">Copyright ©いたち杯デッキコード作成サイト All rights reserved.</p>
    </footer>
  </body>
</html>
