<!DOCTYPE html>
<html>
  <head prefix=”og:http://ogp.me/ns#”>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <meta property="og:url" content="https://eigomonsters.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="EigoMonsters" />
    <meta property="og:description" content="TOEIC英単語1200語をタイピングゲームで学習できるサイト" />
    <meta property="og:site_name" content="EigoMonsters" />
    <meta property="og:image" content="../../assets/typingScr.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@EigoMonsters" />
    <meta name="google-site-verification" content="eHoOvBezu_Xsmcu5OphzTHkT1QrXbekgZ9PN4nYJkXg" />
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to "EigoMonsters", root_path, method: :get, class: :meirio %>
          </div>
          <div class="nav__center">
              <%= link_to "HOME", eigomonsters_path, method: :get, class: :nav__btn %>
              <%= link_to "タイピングゲーム", typingplay_index_eigomonsters_path, method: :get, class: :nav__btn %>
              <%= link_to "英単語リスト", eng_wordlist_index_eigomonsters_path, method: :get, class: :nav__btn %>
              <%= link_to "EigoMonstersとは", about_eigomonsters_path, method: :get, class: :nav__btn %>
              <%= link_to "お問い合わせ", contacts_path, class: :nav__btn %>
              <%= link_to 'https://twitter.com/eigomonsters',target: :blank, rel: :noopener, rel: :noreferrer do %><%= image_tag 'twitterImage.png', class: :snsIconTwitter%> <% end %>
          </div>
        </div>
      </div>
    </header>
      <%= yield %>
    <footer class="footer">
        <%= link_to "ご利用規約・プライバシーポリシー", policy_eigomonsters_path, method: :get, class: :policy %>
        <p class="copyright">Copyright ©EigoMonsters All rights reserved.</p>
    </footer>
    <%# <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="TOEIC英単語タイピング成績" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> %>
  </body>
</html>
